*.iml
.gradle
.idea
app.properties
build
local.properties
org.nypl.audiobook.android.open_access/src/main/resources/org/librarysimplified/audiobook/open_access/provider.properties
provider.properties
.ci/*.log
