<?xml version="1.0" encoding="UTF-8" ?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="org.librarysimplified.audiobook.tests.sandbox"
  android:versionCode="1"
  android:versionName="0.0.1">
  <application
    android:allowBackup="false"
    android:icon="@drawable/sandbox"
    android:label="NYPLSandboxPlayer">
    <activity
      android:name="org.librarysimplified.audiobook.tests.sandbox.SandboxPlayerActivity"
      android:exported="true"
      android:label="NYPLSandboxPlayer">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
  </application>
</manifest>